<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=hbeserverless;AccountKey=+6sNzUKXMrUL0jQo34ktisIwMtmKonl1PIj4E9Fq7lce/Ch7ggFzSXPZeGtQnslI44qq57llItb/Cem5+YuTdA==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>